Cliente/Connected Services/ServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Factor">
    <xs:sequence>
      <xs:element minOccurs="0" name="A" type="xs:float" />
      <xs:element minOccurs="0" name="B" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Factor" nillable="true" type="tns:Factor" />
</xs:schema>